@import "colors.scss";

@mixin setContent() {
  #entries {
    display: flex;
    flex-direction: column;
  }

  .separator-container {
    display: flex;
    justify-content: center;
  }

  .img-container {
    display: flex;
    justify-content: center;
  }

  .separator {
    height:2px;
    width: 300px;
    background: $primary-color;
  }

  .entry-row {
    display: flex;
    flex-direction: row;
  }

  .entry {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
    padding: 25px;
    font-family: 'Roboto', sans-serif;
  }

  .entry > h2 {
    font-weight: bolder;
    font-size: 2em;
    color: #484848;
    text-align: center;
  }

  .entry > p {
    font-weight: lighter;
    font-size: 1em;
    color: #484848;
    margin-top: 15px;
    text-align: justify;
  }

  @media (max-width: 950px) {
      .img-entry {
        display: none;
      }
  }
}
