@import "utils";

.three-part-section
{
  @media (min-width: 992px) {
    height: 350px;
    display: table-cell;
  }
}

.image_content{
  @include resizeImage();
}

.table
{
  display: table;
}

.content
{
  height: 1050px;
}

.text-content
{
  @include whiteText();
  background-color:#006dc3;
  padding-left: 40px;
  opacity: 0.8;
}

.vertical-middle
{
  @include verticalMiddle();
}

#fot{
  background-image: url("../images/fot.png");
}

#sot{
  background-image: url("../images/sot.jpeg");
}

#tot{
  background-image: url("../images/tot.png");
}

.white-text-container
{
  @include whiteText();
}