@import "utils";

.three-part-section
{
  @media (min-width: 992px) {
    height: 350px;
    display: table-cell;
  }
}

.image_content{
  @include resizeImage();
}

.table
{
  display: table;
}

.content
{
  height: 1050px;
}

.text-content
{
  @include whiteText();
  background-color:#006dc3;
  padding-left: 40px;
  opacity: 0.8;
}

.vertical-middle
{
  @include verticalMiddle();
}

#fot{
  background-image: url("../images/fot.png");
}

#sot{
  background-image: url("../images/sot.jpeg");
}

#tot{
  background-image: url("../images/tot.png");
}

.white-text-container
{
  @include whiteText();
}

@mixin setBar(){
  color: black;
  height: 2px;
  width: 100%;
}

.addBar{
  @include setBar();
  margin-bottom: 40px;
  background-color: black;
  opacity: 0.2;
}

@mixin setTitlesContent(){
  .titles-neo-content{
    text-align: center;
    margin-top: 10px;
  }
}
@mixin sizeImageContent(){
  .image_content{
    height: 350px;
  }
}
@mixin setTextContent(){
  .text-neo-content {
    font-size: 2.2vh;
    margin-top: 20px;
    text-align: justify;
    font-weight: normal;
  }
}

@mixin setContent(){
  background-color: #FFFFFF;
  @include sizeImageContent();
  @include setTitlesContent();
  @include setTextContent();

}