@mixin setFooter(){
  background-color: #2B2B2B;
  .text-footer{
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  .text-footer{
    padding-top: 5px;
    margin-bottom: 2px;
    text-align: center;
    font-size: 2vh;
    color: #adabab;
  }
}