@import 'home.scss';
@import 'content.scss';
@import 'skills.scss';
@import 'footer.scss';

html {

  height: 100%;
}

body{
  height: 100%;
  width:100%;
  background-color: #2B2B2B;
}

button{
  background-color: transparent;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  width: 100%;
}

h1, p{
  color:black ;
}

.home{
  @include setSectionHome();
}

.content{
  @include setContent();
}

.skills{
  @include setSkills();
}

.footer{
  @include setFooter();
}
