@import 'home.scss';
@import 'content.scss';
@import 'skills.scss';
@import 'about.scss';
@import 'footer.scss';

//todo different supports, font-face need to be fixed!

@font-face { font-family: Delicious; src: url('font/BalooThambi-Regular.ttf') format("truetype"); }

/* icon */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://weloveiconfonts.com/api/?family=entypo);

html {
  height: 100%;
}

body{
  height: 100%;
  width:100%;
  background-color: #2B2B2B;
  font-family: Delicious;
}

button{
  background-color: transparent;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  width: 100%;
}

h1, p{
  color:black ;
}

.home{
  @include setSectionHome();
}

.content{
  @include setContent();
}

.skills{
  @include setSkills();
}

.footer{
  @include setFooter();
}

@include setLoader();

@include setButtonShares();