@mixin setContent(){
  background-color: #FFFFFF;
}

@mixin whiteText(){
  color: white;
  p {color: white}
  h1 {color: white}
  h2 {color: white}
  h3 {color: white}
  div {color: white}
  li {color: white}
  span {color: white}
}

@mixin verticalMiddle(){
  vertical-align: middle;
}

@mixin resizeImage(){
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

@mixin smallSection() {
}